<div class="survey">
  <div *ngIf="!survey">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div *ngIf="survey">
    <h1 class="surveyTitle">{{ survey.title }}</h1>

    <div class="lets-start">
      <button mat-raised-button color="primary"
        *ngIf="!isQuetionOpened"
        routerLink="/{{ survey.id }}/q/{{ survey.questions[0].id.value }}">Zaczynamy</button>
    </div>

    <p>
    <mat-chip-list *ngIf="isQuetionOpened">
      <mat-chip *ngFor="let question of survey.questions; let i = index"
        
        routerLink="/{{ survey.id }}/q/{{ question.id.value }}"
        routerLinkActive="mat-chip-selected"
        [ngClass]="{ 'question-answered': isQuestionAnswered(question.id) }"
        >
        {{ i + 1 }}
      </mat-chip>
      <mat-chip
        routerLink="/{{ survey.id }}/r"
        routerLinkActive="mat-chip-selected">
        Wynik
      </mat-chip>
    </mat-chip-list>
    </p>
    
    <router-outlet></router-outlet>
  </div>
</div>
