<div class="question">
    <h2 class="questionText">{{ question.text }}</h2>

    <ul class="questionAnswers">
      <li *ngFor="let answer of question.answers">
        <label>
          <input type="radio" name="answer" value="{{ answer.id }}"
            (change)="doAnswerPickup(answer.id)"
            [checked]="answer.id.equals(selectedAnswerId)"
            />
          {{ answer.text }}
        </label>
      </li>
    </ul>

    <p *ngIf="prevQuestion">
      <button routerLink="/{{ survey.id }}/q/{{ prevQuestion.id.value }}">Poprzednie pytanie</button>
    </p>
    
    <p *ngIf="!prevQuestion">
      <button routerLink="/{{ survey.id }}">Wróć</button>
    </p>
    
    <p *ngIf="nextQuestion">
      <button (click)="doAnswer()" routerLink="/{{ survey.id }}/q/{{ nextQuestion.id.value }}" [disabled]="!selectedAnswerId">Odpowiedz</button>
      <button routerLink="/{{ survey.id }}/q/{{ nextQuestion.id.value }}">Pomiń</button>
    </p>
    <p *ngIf="!nextQuestion">
      <button (click)="doAnswer()" routerLink="/{{ survey.id }}/r" [disabled]="!selectedAnswerId">Odpowiedz</button>
      <button routerLink="/{{ survey.id }}/r">Pomiń</button>
    </p>
    
</div>