/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-chip.mat-standard-chip.question-answered {
    background-color: #c3ffaa;
}

body {
    background-color: #eeeeee;
}

div.intro-splash-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000000;
    
}

div.intro-splash-bg::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(https://www.nowiny.pl/uploads/news-oryginals/2018/09/18/143082_1537253526_94243300.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0.3;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

.mat-big-button.mat-raised-button {
    font-size: 1.5em;
    line-height: 50px;
    padding: 0 35px;
}

/*body:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url(http://nowogrodziec.pl/images/stories/wiadomosci/flaga_rp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}*/

.avatar {
    border-radius: 50%;
    display: inline-block;
}

.avatar-small {
    width: 28px;
}
.avatar-medium {
    width: 52px;
}

$avatar-label-height: 28px;
$avatar-size-xl-factor: 2;

.avatar-label {
    background: rgba(0,0,0,.1);
    border-radius: #{$avatar-label-height / 2};
    display: inline-block;
    line-height: $avatar-label-height;
    padding-right: 10px;

    .avatar {
        width: $avatar-label-height;
        height: $avatar-label-height;
        vertical-align: middle;
        margin-top: -1px;
        margin-right: 6px;
    }
}

.avatar-label-xl {
    border-radius: #{$avatar-label-height / 2 * $avatar-size-xl-factor};
    line-height: #{$avatar-label-height * $avatar-size-xl-factor};

    .avatar {
        width: #{$avatar-label-height * $avatar-size-xl-factor};
        height: #{$avatar-label-height * $avatar-size-xl-factor};
    }
}

.page-final-report {

    .avatar-label-xl {
        font-size: 1.2em;
    }
    
    .sameVote {
        // padding-left: 28px;
        margin: 10px 0;
    }

    .sameVoteLabel {
        display: inline-block;
        font-size: 0.85em;
        color: #777777;
    }

    .matches {

        list-style-type: none;
        padding-left: 1rem;

        li {
            position: relative;
        }

        .position {
            font-size: 1.8em;
        }
        
        .avatar-label {
            background: rgba(255,255,255,.7);
        }

        .bar {
            position: absolute;
            display: inline-block;
            background: rgba(0, 0, 0, 0.1);
            border-radius: #{$avatar-label-height / 2 * $avatar-size-xl-factor};
            height: #{$avatar-label-height * $avatar-size-xl-factor};

            -webkit-transition: width 2s;
            transition: width 2s;
            z-index: 1;
        }

        .bar-content {
            position: relative;
            z-index: 2;
        }
    }
}
